$bgColor1: #28293d;
$isPrimary: #f47183;
$fontColor1: #f47183;
$fontColor2: #4d3f59;
$fontColor3: #9e9e9e;
$fontColor4: #62a064;
$fontColor5: #5f5779;
$fontColor6: #ffeb3b;
.App {
  .primary-bg {
    background: $isPrimary;
    color: #fff;
  }
  .number-tag {
    font-weight: 600;
    background: rgba(245, 245, 245, 0.12);
    padding: 0px 4px;
    border-radius: 4px;
  }
  .death-tag {
    color: $fontColor1;
  }
  .recover-tag {
    color: $fontColor4;
    font-weight: 600;
    background: rgba(245, 245, 245, 0.12);
    padding: 0px 4px;
    border-radius: 4px;
  }
  .level-item {
    padding: 24px;
    background: $bgColor1;
    color: $fontColor1;
    border: 12px solid rgba(244, 113, 131, 0.12);
    .title {
      font-size: 2.5rem;
    }
    &:first-child {
      .heading {
        color: $fontColor3;
      }
      .title {
        color: $fontColor3;
      }
      border-radius: 4px 0 0 4px;
    }
    &:nth-child(2) {
      .heading {
        color: $fontColor1;
      }
      .title {
        color: $fontColor1;
      }
    }
    &:last-child {
      .heading {
        color: $fontColor4;
      }
      .title {
        color: $fontColor4;
      }
      border-radius: 0 4px 4px 0;
    }
    @media only screen and (max-width: 600px) {
      border-radius: 4px;
    }
  }
  .select {
    width: 100%;
    height: 3.25em !important;
    select {
      width: 100%;
      height: 3.25em !important;
    }
  }
  .country-data {
    .country-info {
      padding: 15px 28px 28px 28px;
      border-radius: 4px;
      background: $bgColor1;
      border: 2px solid #413246;
      .card-top {
        position: relative;
        h3 {
          text-transform: uppercase;
          text-align: center;
          border-bottom: 1px dashed #63657b6b;
          letter-spacing: 2px;
          font-size: 26px;
          font-weight: 800;
          color: $fontColor5;
          margin: 0;
          margin-bottom: 10px;
          padding: 0;
          padding-bottom: 10px;
        }
        .card-icon {
          position: absolute;
          top: 0;
          right: 0;
          span {
            cursor: pointer;
            margin-right: 5px;
            svg {
              width: 10px;
            }
          }
          .mark {
            color: $fontColor6;
          }
          .graph-chart {
            margin-right: 10px;
            color: #717171;
            svg {
              width: 20px;
            }
          }
        }
      }
      p {
        background: rgba(244, 113, 131, 0.05);
        color: #9e9e9e;
        border-radius: 4px;
        padding: 4px;
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }
  .country-select {
    padding-top: 0;
    padding-bottom: 0;
    .foo__control {
      min-height: 50px;
      background-color: $bgColor1;
      border-color: $isPrimary;
      &.foo__control--is-focused {
        box-shadow: none;
      }
      .foo__single-value {
        color: $fontColor3;
      }
      .foo__input {
        color: $fontColor3;
      }
    }
    .foo__menu {
      background: $bgColor1;
      color: $fontColor3;
    }
  }
  @media only screen and (max-width: 600px) {
    .tags {
      &.is-right {
        justify-content: center !important;
      }
    }
  }
  @media print, screen and (min-width: 769px) {
    .modal-content {
      margin: 0 auto;
      max-height: calc(100vh - 40px);
      width: calc(100vw - 20vw);
    }
  }
}
